<%= form_for(@trip) do |f| %>
  <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% @trip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :title %>:
  <%= f.text_field :title %><br />

  <%= f.label :description %>:
  <%= f.text_field :description %><br />

  <%= f.label :cost %>:
  <%= f.text_field :cost %><br />

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
